body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin: 8px;
    padding: 0;
    width: auto;
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
    /* line-height: 0; */
    /* display: inline-flex; */
    /* flex-flow: row wrap; */
    text-align: center;
    /* display: inline-block; */
}

main > div {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    vertical-align: top;
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 263px;
    max-width: 100%;
    margin: 4px;
    padding: 0;
    background-color: hsla(0, 0%, 70%, 1);
    text-align: center;
    position: relative;
}

main > div > * {
    width: 100%;
    /* width: 300px;
    max-width: 100%; */
    /* min-height: 227px; */
    /* transition: height 1s; */
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    /* flex: 1 0 auto; */
}

main > div p {
    padding: 8px;
    margin: 0;
    background-color: hsla(0, 0%, 70%, 1);
}

/* main > div > *:not(p) {
    flex: 1 1 auto;
} */

main > div > p:last-child:not(:only-child) {
    border-top: 2px solid;
    /* flex: 0 0; */
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
}

/* main > div > p:only-child {
    margin: auto;
} */

img {
    height: 227px;
    object-fit: cover;
    object-position: top;
}